@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;600&display=swap');

.container {
    position: relative;
    background-color: #000;
    color: #FFF;
    font-family: 'Ruda', sans-serif;
    font-style: normal;
}


.background {
    /*оставила без 'Ruda', хотя бы так работает, потому что 
    при 'Inter' та же фигня*/
    font-family: sans-serif;
    position: absolute;
    overflow: hidden;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #fefefe;
    font-size: 11vw;
    -webkit-text-stroke: 1px #FFF;
    -webkit-text-fill-color: transparent;
}

.ul {
    text-align: right;
}

.content {
    display: flex;
    justify-content: flex-end;
    padding: 85px;
}

.item {
    list-style-type: none;
    padding: 30px 110px;
    font-size: 20px;
    font-weight: 600;
    color: #fefefe;

}
