.animated_arrow {
    transition: 1s;
    height: 2px;
    width: 200px;
    background-color: var(--color);
    position: absolute;
    right: 110px;
    bottom: 40px;
}

.animated_arrow_tip {
    transition: 1s;
    border-radius: 50px;
    height: 8px;
    width: 8px;
    background-color: var(--color);
    position: absolute;
    right: 306px;
    bottom: 37px;
}

.active {
    transition: .4s;
    display: inline-block;
    margin-right: 230px;
}