@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ruda&display=swap');

.container {
    position: relative;
    background-color: var(--color-additional);
    color: var(--color);
    font-family: 'Ruda', sans-serif;
    font-style: normal;
}


.background {
    font-family: sans-serif;
    position: absolute;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color);
    font-size: 11vw;
    -webkit-text-stroke: 1px var(--color);
    -webkit-text-fill-color: transparent;
}

.ul {
    text-align: right;
}

.content {
    display: flex;
    justify-content: flex-end;
    padding: 85px;
}

.item {
    position: relative;
    list-style-type: none;
    padding: 30px 110px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color);
}

@media screen and (max-width: 1024px) {
    .background {
    font-size: 12.5vw;
    }

}
@media screen  and (max-width: 780px) {

.item {
    padding: 30px 0;
    font-size: 25px;
}
.content {
    padding: 30px;
}

}
