@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ruda&display=swap');

.container {
    position: relative;
    background-color: var(--color-additional);
    color: var(--color);
    font-family: 'Ruda', sans-serif;
    font-style: normal;
}


.background {
    font-family: sans-serif;
    position: absolute;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color);
    font-size: 11vw;
    -webkit-text-stroke: 1px var(--color);
    -webkit-text-fill-color: transparent;
}

.ul {
    text-align: right;
}

.content {
    display: flex;
    justify-content: flex-end;
    padding: 85px;
}

.item {
    position: relative;
    list-style-type: none;
    padding: 30px 110px;
    font-size: 20px;
    font-weight: 600;
    color: var(--color);
}

.animated_arrow {
    transition: 1s;
    height: 2px;
    width: 200px;
    background-color: var(--color);
    position: absolute;
    right: 110px;
    bottom: 40px;
}

.animated_arrow_tip {
    transition: 1s;
    border-radius: 50px;
    height: 8px;
    width: 8px;
    background-color: var(--color);
    position: absolute;
    right: 306px;
    bottom: 37px;
}

.active {
    transition: .4s;
    display: inline-block;
    margin-right: 230px;
}

@media (max-width: 1000px) {
    .content {
        padding: 85px 0;
    }
}
