.btnWrapper {
    padding: 10px;
    color: var(--color);
    width: 300px;
    background-color: var(--color-additional);
    cursor: pointer;
    transition: .5s;
}

.btnInner {
    padding: 14px;
    border: 1px solid var(--color);
    text-align: center;
    font-size: 18px;
    color: var(--color);
}

.noDec {
    text-decoration: none;
}

.btnInner > span {
    margin-left: 20px;
    font-size: 25px;
}

.btnWrapper:hover {
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .5);
}