@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.wrapper {
    width: 100vw;
    height: 100%;
    display: block;
}
.h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    color: var(--color-additional);
    margin-bottom: 0;
    margin-left: 8vw;
}
