.divBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin: 150px 0 150px auto;
}

.text {
    font-family: 'Ruda', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-additional);
    padding: 0 37px;
    width: 55vw;
    text-align: justify;
    margin: 0;
}

.arrow {
    width: 215px;
    height: 79px;
    margin-left: 83px;
}

.arrow:last-child {
    margin-left: 37px;
    overflow: hidden;
}

