/* поменять бэк у всей страницы на ВОТ ЭТОТ БЕЛЫЙ * {
    background-color: #fefefe;
} */
h1 {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.contentSide {
    width: 600px;
}

.image {
    height: 100vh;
    /* width: 100px; */
    background-image: url("https://sun9-north.userapi.com/sun9-79/s/v1/ig2/POxLrqMXw3Glga4JguF74-dUXkrn_RubPav7uMnhjtcQ82zdMj-ho5Zkf_eJGadSxzfX6qkRhABga42LCzGN1pjJ.jpg?size=1440x2160&quality=95&type=album");
}

.contentSide {
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.infoBlock {
    min-width: 500px;
    margin-top: 30vh;
    margin-left: 140px;
    margin-right: 20px;
    font-size: 35px;
    font-weight: 400;
}

.infoBlock > p {
    position: relative;
}

.infoBlock > p > span {
    font-size: 50px;
    font-weight: 600;
}

.headingTitle1 {
    font-size: 8vw;
    color: var(--color-additional);
    margin: 0;
    position: relative;
    z-index: 2;
}

.headingTitle1Stroke1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--color-additional);
    position: absolute;
    left: 3px;
    top: 33px;
    transform: translateY(-50%);
}

.changeBtns {
    display: flex;
    gap: 50px;
    position: absolute;
    bottom: 40px;
    right: 43vw;
    font-size: 18px;
    color: var(--color-additional);
}

.changeBtn {
    cursor: pointer;
}