@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;600&display=swap');

.back {
    background-color: #fefefe;
}

.about_header {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #111;
    font-size: 4rem;
    margin-left: 18%;
    margin-top: 3rem;
}