@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;600&display=swap');

.back {
    padding-top: 4rem;
    background-color: var(--color);
}

.about_header {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: var(--color-additional);
    font-size: 4rem;
    margin-left: 18%;
    margin-top: 3rem;
}

@media (max-width: 780px) {
    .about_header {
        margin-left: 20px;
    }
}
