.wrapper {
    position: relative;
    clip: auto;
    overflow: hidden;
    z-index: 0;
    margin-top: 30vh;
    /* background-color: #fefefe; */
}

.tech_stack {
    /* max-width: 60%; */
    width: 905px;
    height: 305px;
    background: var(--color);
    margin: 0 auto 20vh; /* ЗАМЕНИТЬ НА margin: 0 auto !!! */
    padding: 0 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}

.tech_card {
    padding: 20px 25px;
    font-family: "Ruda", sans-serif;
    font-weight: 600;
    font-size: 40px;
}

.tech_card.f1,
.tech_card.f2,
.tech_card.f3 {
    background: var(--color-additional);
    color: var(--color);
}

.tech_card.f1 {
    border-radius: 30px 30px 30px 0;
}

.tech_card.f2 {
    border-radius: 0 30px 30px 30px;
}

.tech_card.f3 {
    border-radius: 30px 0 30px 30px;
}

.tech_card.o {
    background: var(--color);
    border: 2px solid var(--color-additional);
    border-radius: 30px 30px 30px 0;
}

@keyframes scroll1 {
    0% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20%);
    }
}

.tech_line {
    position: absolute;
    word-spacing: 4rem;
    letter-spacing: 0.025em;
    color: var(--color-additional);
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 2rem;
    z-index: -1;
}

.tech_line:nth-child(2) {
    margin-top: 5rem;
}

.tech_line:nth-child(3) {
    margin-top: 8rem;
}

.tech_line:nth-child(4) {
    margin-top: 11rem;
}

.tech_line:nth-child(even) {
    animation: scroll1 10s linear infinite;
    animation-fill-mode: both;
}

.tech_line:nth-child(odd) {
    animation: scroll2 10s linear infinite;
    animation-fill-mode: both;
}

.text_down {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: rgba(17, 17, 17, 0.6);
    display: inline;
    margin: 30px auto 0;
}
/*нужно, чтобы они находились по 4 в линии (как минимум на 1920px и 1440рх)*/

@media (min-width: 1920px) {
    .tech_stack {
        max-width: 40%;
    }
}