.wrapper {
    width: 100vw;
    background-color: var(--color);
    margin-top: 350px;
}
.stroke_container {

    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.stroke {
    display: block;
    width: 45vw;
    height: 5px;
    border: none;
    align-self: center;
    background-color: var(--color-additional);
}
.wrapper__h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 3vw;
    text-align: end;
    margin-right: 150px;
    text-transform: lowercase;
    color: var(--color-additional);
    padding: auto;
}

.wrapper__place {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

}

.place__h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    color: var(--color-additional);
    margin-bottom: 30px;
}

.place__ul {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    color: var(--color-additional);
}
.place__ul > li {
    margin-bottom: 15px;
}
.place__ul > li > a {
    text-decoration: none;
    color: var(--color-additional);
}
.place__ul > li > a:hover {
    text-decoration: underline;
}

.wrapper__map {
    display: block;
    width: 100vw;
    filter: saturate(0) brightness(1) invert(.8);
    margin: 70px 0 150px;
}
@media screen and (max-width: 780px) {
    .wrapper__h2 {
        font-size: 30px;
    }
    .stroke {
        display: block;
        width: 30vw;
        height: 5px;
        border: none;
        align-self: center;
        background-color: var(--color-additional);
    }
    .place__ul {
        font-size: 15px;
    }
    .place__h3 {
        font-size: 20px;
        margin-left: 10px;
    }


    
}