.nav {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    top: 0;
    z-index: 2;
    margin-left: 120px;
    padding-left: 180px;
    display: flex;
    gap: 90px;
    height: 4rem;
}

.nav_elem {
    transition: box-shadow .5s;
    margin-top: auto;
    color: #111;
    text-decoration: none;
}

/* .nav_elem:hover {
    cursor: pointer;
}

.hover {
    color: red;
    cursor: pointer;
} */

/* .nav_elem:hover {
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
    cursor: pointer;
} */