.panelWrapper {
    width: 120px;
    height: 105vh;
    position: fixed;
    background-color: white;
    border-right: 1px solid black;
    margin-top: -21px;
    display: grid;
    grid-template-columns: 1fr;
}

.panelElem {
    margin: auto;
}

.panelElem > img {
    width: 22px;
    cursor: pointer;
    transition: 0.5s;
}

.panelElem > img:hover {
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}