.panelWrapper {
    width: 120px;
    height: 100vh;
    position: absolute;
    color: var(--color-additional);
    background-color: var(--color);
    border-right: 1px solid var(--color-additional);
    display: grid;
    grid-template-columns: 1fr;
}

.panelElem {
    margin: auto;
}

.panelElem > img {
    width: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.panelElem:hover {
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .panelWrapper {
        width: 80px; 
    }
    .panelElem {
        margin: auto;
    }
    .panelElem > img {
        width: 22px;
        height: 70px;
    }
}

@media screen and (max-width:780px) {
    .panelWrapper {
        width: 60px; 
    }
}
