.panelWrapper {
    width: 120px;
    height: 100vh;
    position: absolute;
    color: var(--color-additional);
    background-color: var(--color);
    border-right: 1px solid var(--color-additional);
    display: grid;
    grid-template-columns: 1fr;
}

.panelElem {
    margin: auto;
}

.panelElem > img {
    width: 22px;
    cursor: pointer;
    transition: 0.5s;
}
