.footer {
    background-color: var(--color-additional);
    /* padding: 10px 0; */
    margin: 0;
    height: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    padding: 0;
    margin: 0;
}

.style_link {
    color: var(--color);
    text-decoration: none;
    transition: box-shadow .5s;
}
.style_link::after {
    content: "";
    background-color: var(--color);
    display: block;
    margin-top: 2px;
    height: 2px;
    width: 0;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.style_link:hover::after {
    width: 100%;
}

.item {
    color: var(--color);
    text-align: center;
    list-style-type: none;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.item_box {
    /* padding: 40px 0; */
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item_box_center {
    width: 150%;
}

.item_box_left {
    width: 50%;
    border-right-style: solid;
    border-right-color: var(--color);
    border-right-width: 1px;
}

.item_box_right {
    width: 50%;
    border-left-style: solid;
    border-left-color: var(--color);
    border-left-width: 1px;
}

.languages_content {
    display: block;
    position: absolute;
    background-color: var(--color);
}

.btn {
    background-color: var(--color-additional);
    color: var(--color);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    color: var(--light-gray);
}

.lang_arrow {
    width: 8px;
    height: 5px;
    margin-left: 2px;
}

@media (max-width: 880px) {
    .row_first {
        flex-direction: column;
    }

    .footer {
        height: 100%;
    }

    .item_box_left,
    .item_box_right {
        width: 100%;
        border-color: var(--color-additional);
    }

    .style_link {
        font-size: 15px;
    }

    .btn {
        font-size: 15px;
    }

    .item_box_center {
        width: 100%;
    }
}
