:root[data-theme="light"] {
    --color: #FEFEFE;
    --color-additional: #111;
    --light-gray: #A3A3A3;
    --hover-button: rgba(0, 0, 0, .5);
}

:root[data-theme="dark"] {
    --color: #111;
    --color-additional: #FEFEFE;
    --light-gray: #5A5A5A;
    --hover-button: rgba(161, 158, 158, 0.5);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    color: var(--color-additional);
    background-color: var(--color);
}
