.wrapper__map {
    height: 70vh;
    margin-top: 130px;
    position: relative;
}

.wrapper__h3 {  
    margin: 0;
    padding: 0;
    /*'Inter',*/
    font-family: sans-serif;
    font-weight: 400;
    font-size: 5vw;
    line-height: 103px;
    color: var(--color);
    -webkit-text-stroke: 1px var(--color-additional);
}
h3 {
    margin: 0;
    padding: 0;
}

/*делаем карту черно-белой*/
.map {
    filter: saturate(0) brightness(1) invert(.8);
}

.wrapper__block {
    width: 500px;
    height: 730px;
    background-color: var(--color-additional);
    position: absolute;
    right:75px;
    top: 50px;
    z-index: 2;
}

.container {
    width: 400px;
    height: 410px;
    margin: 70px 0 0 65px;
    display: flex;
    flex-direction: column;

}

.block__header {
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.015em;
    text-transform: lowercase;
    color: var(--color);

}

.block__text {
    font-family: 'Ruda';
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.015em;
    color: var(--color);
}

@media screen and (max-width: 1280px) {
    
.wrapper__block {
    right:25px;
}
}

@media screen and (max-width: 1024px){
    .wrapper__h3 {  
        font-size: 48px;
    }
    
     .wrapper__block {
        width: 450px;
        height: 645px;
        right:25px;
    }
    .container {
        margin: 60px 0 60px 50px;

    }
    iframe {
     height: 550px;
    }
}

@media screen  and (max-width: 780px) {
    iframe {
        height: 430px;
    }

       
    .wrapper__block {
        width: 100vw;
        height: 780px;
        left: 0;
        top: 532px;
        z-index: 2;
}

.container {
    width: 400px;
    height: 410px;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
}

}