.wrapper__map {
    height: 70vh;
    margin-top: 80px;
    position: relative;
}

.wrapper__h3 {  
    margin: 0;
    padding: 0;
    /*'Inter',*/
    font-family: sans-serif;
    font-weight: 400;
    font-size: 5vw;
    line-height: 103px;
    color: var(--color);
    -webkit-text-stroke: 1px var(--color-additional);
}

h3 {
    margin: 0;
    padding: 0;
}

.map {
    /* делаем карту черно-белой */
    filter: saturate(0) brightness(1) invert(.8);

    height: 100%;
}

.wrapper__block {
    width: 435px;
    height: 600px;
    background-color: var(--color-additional);
    position: absolute;
    right: 75px;
    top: 75px;
    z-index: 2;
    padding-left: 65px;
    padding-top: 130px;
}

.container {
    width: 400px;
    height: 410px;
}

.block__header {
    font-family: 'Ruda', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.015em;
    text-transform: lowercase;
    color: var(--color);
}

.block__text {
    font-family: 'Ruda', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.015em;
    color: var(--color);
}

@media (max-width: 1280px) {
    .wrapper__block {
        right: 52px;
    }
}

@media (max-width: 1024px){
    .wrapper__h3 {  
        font-size: 48px;
    }

    iframe {
        height: 550px;
    }
}

@media (max-width: 780px) {
    iframe {
        height: 430px;
    }

    .wrapper__block {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: relative;
        z-index: 1;
    }

    .block__header,
    .block__text {
        margin-left: 10px;
    }

    .container {
        height: 100%;
        margin: 15% 10px;
        align-items: center;
        position: relative;
    }
}