.wrapper__map {
    margin-top: 90px;
    height: 70vh;
    margin-top: 130px;
    position: relative;
}

.wrapper__h3 {  
    margin: 0;
    padding: 0;
    /*'Inter',*/
    font-family: sans-serif;
    font-weight: 400;
    font-size: 5vw;
    line-height: 103px;
    color: var(--color);
    -webkit-text-stroke: 1px var(--additional-color);
}
h3 {
    margin: 0;
    padding: 0;
}

/*делаем карту черно-белой*/
.map {
    filter: saturate(0) brightness(1) invert(.8);
}

.wrapper__block {
    width: 500px;
    height: 730px;
    background-color: var(--additional-color);
    position: absolute;
    right:75px;
    top: 50px;
    z-index: 2;
}

.container {
    width: 400px;
    height: 410px;
    margin: 70px 0 0 65px;
    display: flex;
    flex-direction: column;

}

.block__header {
    font-family: 'Ruda';
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.015em;
    text-transform: lowercase;
    color: var(--color);

}

.block__text {
    font-family: 'Ruda';
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.015em;
    color: var(--color);
}