.nav {
    margin-left: 120px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    display: flex;
    gap: 90px;
    font-size: 17px;
}

.navElem {
    padding: 2px;
    transition: .5s;
    cursor: pointer;
}

.navElem:hover {
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .2);
}