.nav {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    top: 0;
    z-index: 2;
    margin-left: 120px;
    padding-left: 180px;
    display: flex;
    gap: 90px;
    height: 4rem;
    background-color: var(--color);
    border-left: 1px solid var(--color-additional);
}

.nav_elem {
    transition: box-shadow .5s;
    margin-top: auto;
    color: var(--color-additional);
    text-decoration: none;
}


@media screen and (max-width:1280px) {
 .nav {
    padding-left: 100px;
 }   

    
}

@media screen and (max-width:1024px) {
    .nav {
        font-size: 15px;
        padding-left: 65px;
        margin-left: 80px;
    }

    
}
@media screen and (max-width: 780px) {
    .nav {
        padding-left: 78px;
        margin-left: 60px;
    }
}


